CONFIG_IDF_TARGET="esp32p4"
CONFIG_APP_I2C_PORT=0
CONFIG_APP_I2C_SDA_GPIO=27
CONFIG_APP_I2C_SCL_GPIO=26
CONFIG_APP_I2C_CLOCK_HZ=400000
CONFIG_APP_WS2812_GPIO=5
CONFIG_APP_WS2812_LEDS=8
CONFIG_APP_RS232_UART_PORT=1
CONFIG_APP_RS232_TX_GPIO=36
CONFIG_APP_RS232_RX_GPIO=46
CONFIG_APP_RS485_UART_PORT=2
CONFIG_APP_RS485_TX_GPIO=4
CONFIG_APP_RS485_RX_GPIO=19
CONFIG_APP_RS485_DE_GPIO=21
CONFIG_APP_MDB_UART_PORT=3
CONFIG_APP_MDB_TX_GPIO=22
CONFIG_APP_MDB_RX_GPIO=23
CONFIG_APP_PWM_OUT1_GPIO=47
CONFIG_APP_PWM_OUT2_GPIO=48
CONFIG_APP_WIFI_AP_SSID="factory-setup"
CONFIG_APP_WIFI_AP_PASSWORD="factory123"
CONFIG_APP_WIFI_AP_CHANNEL=6
CONFIG_APP_WIFI_STA_ENABLE=n
CONFIG_APP_WIFI_STA_SSID=""
CONFIG_APP_WIFI_STA_PASSWORD=""
CONFIG_APP_ETH_ENABLED=y
CONFIG_APP_ETH_PHY_ADDR=1
CONFIG_APP_ETH_PHY_RST_GPIO=51
CONFIG_APP_ETH_MDC_GPIO=31
CONFIG_APP_ETH_MDIO_GPIO=52
CONFIG_APP_HTTP_PORT=80
CONFIG_APP_OTA_DEFAULT_URL=""
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32
CONFIG_ESP_WIFI_TX_BUFFER_TYPE=0
CONFIG_ESP_WIFI_DYNAMIC_RX_MGMT_BUF=1
CONFIG_ESP_WIFI_ESPNOW_MAX_ENCRYPT_NUM=2
CONFIG_ESP_WIFI_STATIC_TX_BUFFER=y
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER=y
CONFIG_ESP_WIFI_STATIC_TX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=32
CONFIG_ESP_WIFI_DYNAMIC_RX_MGMT_BUFFER=y
CONFIG_ESP_WIFI_NVS_COMPATIBLE=y
CONFIG_ESP_WIFI_FTM_ENABLE=n
CONFIG_ESP_WIFI_ENABLE=y
CONFIG_ESP_WIFI_ITWT_ENABLE=n
CONFIG_ESP_WIFI_11AX_ENABLE=y
