# USB CDC Scanner / EPAPER_USB defaults
CONFIG_USB_CDC_SCANNER_ENABLE=y
CONFIG_USB_OTG_SUPPORTED=y
CONFIG_USB_CDC_SCANNER_USE_CDC_ACM_HOST=y
CONFIG_USB_CDC_SCANNER_VID=0x1EAB
CONFIG_USB_CDC_SCANNER_PID=0x0006
CONFIG_USB_CDC_SCANNER_DUAL_PID=0x0000

# Component config → USB-OTG → Hub Driver Configuration
CONFIG_USB_HOST_HUBS_SUPPORTED=y
CONFIG_USB_HOST_HUB_MULTI_LEVEL=y

# DMA / memory
CONFIG_USB_HOST_DWC_DMA_CAP_MEMORY_IN_PSRAM=y

